In [1]:
import pandas as pd
from pyaaas.aaas import AaaS
from pyaaas.models.privacy_models import KAnonymity, LDiversity

In [2]:
aaas = AaaS("http://34.73.75.250:8080")

In [3]:
test_data = de = {'age': {0: 34,
  1: 35,
  2: 36,
  3: 37,
  4: 38,
  5: 39,
  6: 40,
  7: 41,
  8: 42,
  9: 43,
  10: 44},
 ' gender': {0: ' male',
  1: ' female',
  2: ' male',
  3: ' female',
  4: ' male',
  5: ' female',
  6: ' male',
  7: ' female',
  8: ' male',
  9: ' female',
  10: ' male'},
 ' zipcode': {0: 81667,
  1: 81668,
  2: 81669,
  3: 81670,
  4: 81671,
  5: 81672,
  6: 81673,
  7: 81674,
  8: 81675,
  9: 81676,
  10: 81677}}

In [4]:
df = pd.DataFrame(test_data)

In [5]:
df

    age   gender   zipcode
0    34     male     81667
1    35   female     81668
2    36     male     81669
3    37   female     81670
4    38     male     81671
5    39   female     81672
6    40     male     81673
7    41   female     81674
8    42     male     81675
9    43   female     81676
10   44     male     81677

### Set data to be anonymized

In [6]:
aaas.set_data(df)

### Sett attribute type for fields

In [7]:
aaas.set_attribute_type({"age":"IDENTIFYING",
                           "gender":"INSENSITIVE",
                           "zipcode":"INSENSITIVE"
       })

### Sett hierarchy for field

In [8]:
aaas.set_hierarchy("zipcode", [["81667", "8166*", "816**", "81***", "8****", "*****"],
["81668", "8166*", "816**", "81***", "8****", "*****"],
["81669", "8166*", "816**", "81***", "8****", "*****"],
["81670", "8167*", "816**", "81***", "8****", "*****"],
["81671", "8167*", "816**", "81***", "8****", "*****"],
["81672", "8167*", "816**", "81***", "8****", "*****"],
["81673", "8167*", "816**", "81***", "8****", "*****"],
["81674", "8167*", "816**", "81***", "8****", "*****"],
["81675", "8167*", "816**", "81***", "8****", "*****"],
["81676", "8167*", "816**", "81***", "8****", "*****"],
["81677", "8167*", "816**", "81***", "8****", "*****"]])

### Create and set Privacy model

In [9]:
kanon = KAnonymity(k=4)
lanon = LDiversity()

In [18]:
aaas.set_model(kanon)

### Run anonymization

In [19]:
result = aaas.anonymize()

In [20]:
result

### Get DataFrame from result

In [21]:
df = result.to_dataframe()

In [22]:
df

   age  gender zipcode
0    *    male   816**
1    *  female   816**
2    *    male   816**
3    *  female   816**
4    *    male   816**
5    *  female   816**
6    *    male   816**
7    *  female   816**
8    *    male   816**
9    *  female   816**
10   *    male   816**

### Get all result data as dict

In [23]:
result_dict = result.to_dict()

In [24]:
result_dict

{'data': 'age;gender;zipcode\n*;male;816**\n*;female;816**\n*;male;816**\n*;female;816**\n*;male;816**\n*;female;816**\n*;male;816**\n*;female;816**\n*;male;816**\n*;female;816**\n*;male;816**\n',
 'metaData': {'sensitivityList': {'age': 'IDENTIFYING',
   'gender': 'INSENSITIVE',
   'zipcode': 'INSENSITIVE'},
  'dataType': None,
  'hierarchy': {'zipcode': [['81667',
     '8166*',
     '816**',
     '81***',
     '8****',
     '*****'],
    ['81668', '8166*', '816**', '81***', '8****', '*****'],
    ['81669', '8166*', '816**', '81***', '8****', '*****'],
    ['81670', '8167*', '816**', '81***', '8****', '*****'],
    ['81671', '8167*', '816**', '81***', '8****', '*****'],
    ['81672', '8167*', '816**', '81***', '8****', '*****'],
    ['81673', '8167*', '816**', '81***', '8****', '*****'],
    ['81674', '8167*', '816**', '81***', '8****', '*****'],
    ['81675', '8167*', '816**', '81***', '8****', '*****'],
    ['81676', '8167*', '816**', '81***', '8****', '*****'],
    ['81677', '8167*', '816**', '81***', '8****', '*****']]},
  'models': {'KANONYMITY': {'k': '4'}}}}