In [1]:
from python_api_consumer.aaas import AaaS

In [2]:
aaas = AaaS("http://34.73.75.250:8080")

In [3]:
aaas.set_data("age, gender, zipcode\n34, male, 81667\n35, female, 81668\n36, male, 81669\n37, female, 81670\n38, male, 81671\n39, female, 81672\n40, male, 81673\n41, female, 81674\n42, male, 81675\n43, female, 81676\n44, male, 81677")

In [4]:
aaas.set_attribute_type({"age":"IDENTIFYING",
                           "gender":"INSENSITIVE",
                           "zipcode":"INSENSITIVE"
       })

In [5]:
aaas.set_hierarchy("zipcode", [["81667", "8166*", "816**", "81***", "8****", "*****"],
["81668", "8166*", "816**", "81***", "8****", "*****"],
["81669", "8166*", "816**", "81***", "8****", "*****"],
["81670", "8167*", "816**", "81***", "8****", "*****"],
["81671", "8167*", "816**", "81***", "8****", "*****"],
["81672", "8167*", "816**", "81***", "8****", "*****"],
["81673", "8167*", "816**", "81***", "8****", "*****"],
["81674", "8167*", "816**", "81***", "8****", "*****"],
["81675", "8167*", "816**", "81***", "8****", "*****"],
["81676", "8167*", "816**", "81***", "8****", "*****"],
["81677", "8167*", "816**", "81***", "8****", "*****"]])

In [6]:
from python_api_consumer.models.privacy_models import KAnonymity

### Create a Privacy model

In [7]:
kanon = KAnonymity(k=4)

In [9]:
aaas.set_model(kanon)

### Run anonymization

In [10]:
result = aaas.anonymize()

In [11]:
result

### Get DataFrame from result

In [12]:
df = result.to_dataframe()

In [13]:
df

   age  gender zipcode
0    *    male   816**
1    *  female   816**
2    *    male   816**
3    *  female   816**
4    *    male   816**
5    *  female   816**
6    *    male   816**
7    *  female   816**
8    *    male   816**
9    *  female   816**
10   *    male   816**

### Get all result data as dict

In [14]:
result_dict = result.to_dict()

In [15]:
result_dict

{'data': 'age;gender;zipcode\n*;male;816**\n*;female;816**\n*;male;816**\n*;female;816**\n*;male;816**\n*;female;816**\n*;male;816**\n*;female;816**\n*;male;816**\n*;female;816**\n*;male;816**\n',
 'metaData': {'sensitivityList': {'age': 'IDENTIFYING',
   'gender': 'INSENSITIVE',
   'zipcode': 'INSENSITIVE'},
  'dataType': None,
  'hierarchy': {'zipcode': [['81667',
     '8166*',
     '816**',
     '81***',
     '8****',
     '*****'],
    ['81668', '8166*', '816**', '81***', '8****', '*****'],
    ['81669', '8166*', '816**', '81***', '8****', '*****'],
    ['81670', '8167*', '816**', '81***', '8****', '*****'],
    ['81671', '8167*', '816**', '81***', '8****', '*****'],
    ['81672', '8167*', '816**', '81***', '8****', '*****'],
    ['81673', '8167*', '816**', '81***', '8****', '*****'],
    ['81674', '8167*', '816**', '81***', '8****', '*****'],
    ['81675', '8167*', '816**', '81***', '8****', '*****'],
    ['81676', '8167*', '816**', '81***', '8****', '*****'],
    ['81677', '8167*', '816**', '81***', '8****', '*****']]},
  'models': {'KANONYMITY': {'k': '4'}}}}